<br>
<span>From: <code class="path">src/app/app.component.html</code></span>
<li>app.component works!</li>
<H1>Hello!</H1>
<app-hello-world></app-hello-world>
<app-date [user]="user"></app-date>
<p class="title">Test Paragraph in src/app/app.component.html with a class of "title".</p>
<br>
<h2>Two Way Data Binding with ngModel</h2>

<!-- View to component
<input test="text" [value]="inputText">

View to component and component to View-->
<input test="text" [(ngModel)]="inputText"> {{ inputText }}
<!-- [(ngModel)] = banana in a box -->

<br><br>
<app-view-component></app-view-component>
